*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.container{
    display: flex;
    justify-content: space-evenly;
    padding: 0;
    align-items: center;
    




}
.logo{
    margin-left: 1.5rem;
}



nav ul  {
    
    display: flex;
    list-style-type: none;
    justify-content: space-evenly;
    border-radius: 0%;
    padding: 5px;
    margin-left: 13.5rem;
    gap: 2.5rem;
     
}

nav a{
    color: rgb(6, 0, 0);
    text-decoration: none;
}
.left{
    display: flex;
    justify-content: space-evenly;
}

nav a:hover{
    color: rgb(148, 59, 231);
    
    
}
.btn{
  border-radius: 8px;
  padding: 12px 16px;
  background-color: #6773fd;
  color: rgb(204, 203, 203);
  border-collapse: separate;
}
.heading{
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    text-justify: distribute-all-lines;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom:20px ;
}
.equip{
    color: #ed0d88;
}
.nuture{
    color: rgb(250, 242, 130);
}
.galleries{
    display
    : flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.gallery{
    width:400px;
    margin: 10px 10px;
    display: inline-block;
    
}

  
  
.gallery .about  {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
  

 }
   
.gallery img{
    width:100%;
    border: 1px solid black;
  
}

