


body{
margin:0;
font-family:Arial,sans-serif;
background:#ffffff;
transition:background 0.4s ease;
}

/*container*/
.report-box{
    width:60% ;
    margin:40px auto;
    padding:25px ;
    border-radius:10px ;
    background:#f7f7f7 ;
    box-shadow:0 0 10px rgba(0,0,0,0.1);
}

h2{
    margin-top:0;
    font-size:22px;
    font-weight:bold;
}

p{
    margin-top:-5;
    color:#555;
}

label{
    font-weight:bold;
}

select, textarea{
    width:100%;
    padding:12px;
    margin:10px 0 20px;
    border:1px solid #ccc;
    border-radius:5px;
    font-size:15px;
}

textarea{
    height:120px;
    resize:none;
}
.checkbox{
    margin-bottom:15px;
    display: flex;
}

.submit-btn{
    width:100%;
    padding:15px;
    background:#0091d4;
    color:black;
    font-weight:bold;
    border:none;
    border-radius:5px;
    cursor:pointer;
    font-size:17px;
}

.submit-btn:hover {
    opacity:0.8;
}