.container {
  max-width: 80%;
  margin:40px auto;
  padding:20px;
  background-color: #fff;
  border:1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 100px;
  transition:box-shadow .2s linear;
}

#span {
  color:yellow;
}

#ReportPage,#RPL {
  background-color: #222222;
  color:yellow;
  transition: .5s;
  box-shadow: 0 0 10px rgba(243, 242, 242,.2) ;
}
.Welcome-message {
  margin-bottom: 20px;
  padding:20px;
  background-color: #f7f7f7;
  border:1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1) ;
  transition:box-shadow .2s linear;
}
.Welcome-message h2 {
  font-size: 18px;
  font-weight: 600;
  margin-bottom:10px;
  color:#000000;
}
.Welcome-message p {
  font-size:16px;
  color:#666;
  font-style: italic;
  font-weight: 600;
}
.report-form {
  margin-bottom:20px;
  padding:20px;
  background-color: #f7f7f7;
  border:1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1) ;
  transition:box-shadow .4s linear;
}
.report-form label {
  display:block;
  margin-top:10px;
  font-weight:bold;
  color:black;
}
.report-form input, .report-form select, .report-form textarea {
  width:100%;
  height: 40px;
  margin-bottom: 20px;
  padding:10px;
  border:1px solid #ccc;
  border-radius: 5px;
  font-size:14px;
  font-weight: 600;
}
.report-form textarea {
  height: 100px;
  max-height: 200px;
  resize:none;
  size:200px
}
.report-form input[type="checkbox"]{
  float: left;
  width:30px;
  height: 20px;
  outline:none;
  cursor:pointer;
  margin-top: -5px;
}
.report-form #locationLabel {
  text-align:left;
}
#Btn:hover {box-shadow: 0 8px 16px 0 rgba(0,0,0,0.6);}
#Btn {
   width: 100%;
  color: #fff;
  padding: 15px 25px;
  background-color: #38D2D2;
  background-image: radial-gradient(93% 87% at 87% 89%, rgba(0, 0, 0, 0.23) 0%, transparent 86.18%), radial-gradient(66% 66% at 26% 20%, rgba(255, 255, 255, 0.55) 0%, rgba(255, 255, 255, 0) 69.79%, rgba(255, 255, 255, 0) 100%);
  box-shadow: inset -3px -3px 9px rgba(255, 255, 255, 0.25), inset 0px 3px 9px rgba(255, 255, 255, 0.3), inset 0px 1px 1px rgba(255, 255, 255, 0.6), inset 0px -8px 36px rgba(0, 0, 0, 0.3), inset 0px 1px 5px rgba(255, 255, 255, 0.6), 2px 19px 31px rgba(0, 0, 0, 0.2);
  border-radius: 14px;
  font-weight: bold;
  font-size: 16px;
  border: 0;
  -webkit-user-select: none;
   user-select: none;
  touch-action: manipulation;
  cursor: pointer;
}
.report-form:hover,.Welcome-message:hover ,.container:hover{
  box-shadow: 0 0 10px rgba(0,0,0,0.4) ; 
  transition:.5s;
}
#notification {
  border: 2px solid black;
  width:50%;
  height: 30%;
  position:absolute;
  top:500px;
  left:200px; 
  border-radius: 10px;
  box-shadow: 0 0 8px black;
  z-index: -1;
  display: none;
  background-color: white;
  border:none;
  background-color:black;
  color:white;
}
#OkBtn {
  background-color:rgb(212, 166, 212);
  width:90px;
  height: 50px;
  position: absolute;
  right:20px;
  bottom:20px;
  font-size:1.3rem;
  text-align: center;
  border-radius:50px;
  border:3px solid white;
  outline:3px solid rgb(212, 166, 212);
}#OkBtn:hover {
  outline:none;
  border:none;
}
#NtnPar {
  position: inherit;
  left:20px;
  font-size:1rem;
  overflow:hidden;
}



