* {
  box-sizing: border-box;
  margin: 0;
  padding:0;
}
body {
  font-family: 'open sans',sans-serif;
  margin: 0;
  padding:0;
  line-height: 1.5;
  color:#333;
  background-color: #f9f9f9;
  
}

.container {
  max-width: 80%;
  margin:40px auto;
  padding:20px;
  background-color: #fff;
  border:1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 100px;
  transition:box-shadow .2s linear;
}
.nav-bar {
  background-color: black;
  color:#fff;
  padding:10px;
  text-align:center;
  font-weight: bold;
  position:fixed;
  width: 100%;
  left:0;
  top:0;
  z-index:1000;
}
.nav-bar ul {
  list-style-type:none;
  margin:0;
  padding:0;
}
.nav-bar li {
  float:right;
  width: 18%;
  height:100%;
  transition:box-shadow .5s, background-color .5s;
}
#logo {
  float: left;
  font-size: 1.5rem;
}
#span {
  color:yellow;
}
.nav-bar a {
  display: block;
  color:#fff;
  text-decoration: none;
  width:100%;
  line-height: 40px;
  transition: box-shadow .5s,background-color .5s;
}
.nav-bar li:hover, a:hover {
  background-color: #222222;
  color:yellow;
  transition: .5s;
  box-shadow: 0 0 10px rgba(243, 242, 242,.2) ; 
}
#ReportPage,#RPL {
  background-color: #222222;
  color:yellow;
  transition: .5s;
  box-shadow: 0 0 10px rgba(243, 242, 242,.2) ;
}
.Welcome-message {
  margin-bottom: 20px;
  padding:20px;
  background-color: #f7f7f7;
  border:1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1) ;
  transition:box-shadow .2s linear;
}
.Welcome-message h2 {
  font-size: 18px;
  font-weight: 600;
  margin-bottom:10px;
  color:#000000;
}
.Welcome-message p {
  font-size:16px;
  color:#666;
  font-style: italic;
  font-weight: 600;
}
.report-form {
  margin-bottom:20px;
  padding:20px;
  background-color: #f7f7f7;
  border:1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1) ;
  transition:box-shadow .4s linear;
}
.report-form label {
  display:block;
  margin-top:10px;
  font-weight:bold;
  color:black;
}
.report-form input, .report-form select, .report-form textarea {
  width:100%;
  height: 40px;
  margin-bottom: 20px;
  padding:10px;
  border:1px solid #ccc;
  border-radius: 5px;
  font-size:14px;
  font-weight: 600;
}
.report-form textarea {
  height: 100px;
  max-height: 200px;
  resize:none;
  size:200px
}
.report-form input[type="checkbox"]{
  float: left;
  width:30px;
  height: 20px;
  outline:none;
  cursor:pointer;
}
.report-form #locationLabel {
  text-align:left;
}
.report-form button[type="submit"] {
  width: 100%;
  height: 40px;
  background-color:rgb(235, 235, 7);
  border:none;
  border-radius: 5px;
  cursor:pointer;
  color:black;
  font-size: 1.3rem;
  font-weight: 600;
  border:4px solid white;
  outline:3px solid rgb(230, 230, 3);
  transition:box-shadow .5s,background-color .5s;

}
.report-form button[type="submit"]:hover {
  background-color: yellow;
  outline:3px solid yellow;
  transition:.4s;
  box-shadow: 0 0 10px rgba(0,0,0,1) ; 
}
.report-form:hover,.Welcome-message:hover ,.container:hover{
  box-shadow: 0 0 10px rgba(0,0,0,0.4) ; 
  transition:.5s;
}